<div class="container" style="height: 100vh;">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content wow fadein">
          {% if site.avatar != '' %}
          <img style="margin: 10px auto 0px; display: block;border-radius:5%;width:400px; height:400px;object-fit: contain;" src="{{site.avatar}}" alt="{{site.title}}">
          {% endif %}
          {% if site.intro1 != '' %}
          <h1 class="text-center" style="margin-top:50px;">{{site.intro1}}</h1>
          {% endif %}
          {% if site.intro2 != '' %}
          <h1 class="text-center">{{site.intro2}}</h1>
          {% endif %}
          {% if site.tagline != '' %}
            <p class="text-center" style="margin-top:100px;">
            {{site.tagline}}
            </p>
          {% endif %}
          <div class="hero-buttons">
            {% if site.enable_contact == true %}
              {% include contact.html %}
              {% include contact-modal.html %}
            {% endif %}
            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default btn-lg" title="Twitter/X" ><i class="fa fa-twitter fa-lg" style="padding-left:15px"></i></button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg" title="Github" ><i class="fa fa-github fa-lg" style="padding-left:15px"></i></button></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"  title="LinkedIn" ><i class="fa fa-linkedin fa-lg" style="padding-left:15px"></i></button></a>
            {% endif %}
            {% if site.nostr_username != '' %}
              <a href="https://primal.net/p/{{ site.nostr_pubkey }}"><button class="btn btn-default btn-lg" title="Primal/Nostr" ><i class="fa fa-product-hunt fa-lg" style="padding-left:15px"></i></button></a>
            {% endif %}
          </div>

            
          <a class="section-jump text-center" style="vertical-align: middle" href="#portfolio">
            <i class="fa fa-angle-down fa-3x"></i>
          </a>
          
        </div>

      </div>

    </div>

  </div>
</div>
